.btn-action {
  width: 100px;
  height: 30px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  font-size: 14px;
  &.blue {
    background-color: #0997b1;
  }
  &.green {
    background-color: #50b109;
  }
  &.delete {
    background-image: url('~@/assets/img/garbage.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  &.save {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.ycms-button {
  @include flex-center-all();
  font-size: 10px;
  font-weight: 600;
  color: #ffffff;
  width: 136px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &.bg-black {
    background-image: linear-gradient(250deg, #2b2b2b, #212224);
  }

  &.bg-green-gradient {
    background-image: linear-gradient(250deg, #50b109, #0997b1);
  }
}

.budge {
  display: inline-block;
  background: blueviolet;
  color: white;
  font-size: 14px;
  padding: 2px 15px;
  border-radius: 22px;
  cursor: pointer;
}
