@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700&display=swap&subset=cyrillic');
@import "fonts";

 //@import 'variables';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~cropperjs/dist/cropper';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~awesome-notifications/dist/style.css';
@import '~dragula/dist/dragula';

@import 'mixins';
@import 'small_menu';
@import "buttons";
@import 'utility';
@import "auth";

[v-cloak] {
  display: none;

  &::before {
    content: 'loading';
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top,
    #0989cc,
    #2696d1 53%,
    #0989cc);
}

.content-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.content-scroll::-webkit-scrollbar {
  width: 1px;
  background-color: #F5F5F5;
}

.content-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top,
          #0989cc,
          #2696d1 53%,
          #0989cc);
}

body {
  font-family: 'SFProText', sans-serif;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'SFProText', sans-serif;
  height: 36px;
  font-size: 26px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #393c40;
}

h2 {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.56);
  font-family: 'SFProText', sans-serif;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #0989cc;
}

h3 {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.56);
  font-family: 'SFProText', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #51af71;
}

#app {
  width: 100%;
  height: 100%;

  .auth {
    @include flex-center-all();
    @include full-screen();
    background-color: #f0f3f6;
  }
}

.all-but-phone {
  //min-height: 100vh;
  //width: calc(100vw - 521px);
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  align-items: center;
  height: 81px;
  background: #c6c9cf;
  width: 100%;
  z-index: 99;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 264px;
    height: 100%;
  }

  .platform-name {
    font-weight: 700;
  }
}

.y-arrow-left {
  width: 22px;
  height: 22px;
  background-image: url("../assets/img/ycms/left.svg");
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.y-arrow-right {
  width: 22px;
  height: 22px;
  background-image: url("../assets/img/ycms/right.svg");
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.small-rounded-btn {
  height: 30px;
  border-radius: 24px;
  font-size: 12px;
  font-weight: 300;
  background-color: #ecedef;
  color: #393c40;
  display: flex;
  cursor: pointer;
  width: 110px;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 30px;
  }

  > img {
    position: absolute;
    left: 7.5px;
    top: 9px;
  }

  &.arrow-left, &.arrow-right {
    min-width: 100px;
    padding-left: 35px;
    color: white !important;
    background-color: #393c40;

    &.disabled {
      background-color: #a8a8a8;
    }
  }

  &.arrow-right {
    padding-left: 29px;

    > img {
      left: unset;
      right: 7.5px;
      transform: rotate(180deg);
    }
  }

  &:hover {
    text-decoration: none;
  }

  &.top-button {
    background-color: #ecedef;
    color: #393c40;

    &.active {
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
      background-image: linear-gradient(253deg, #2b2b2b, #868686);
      color: #ffffff;
    }
  }

  &.content-top-button {
    background-color: #393c40;
    color: #ffffff;
  }

  &.green-bg {
    background-color: #50b109;
    color: white;
  }

  &.blue-bg {
    background-color: #0997b1;
    color: white;
  }

  &.active {
    background-image: linear-gradient(252deg, #0997b1, #2ccae6);
    color: #ffffff;
  }
}

.exit-form > button {
  outline: none;

}

#main-content {
  display: flex;
  height: 100vh;
  position: fixed;
  top: 80px;
  width: 100%;
  background: #f0f3f6;

  .settings-block {
    padding: 45px 45px 110px 45px;
    flex: 1;
    overflow-y: scroll;

    h5 {
      font-size: 16px;
      font-weight: 300;
      color: #2b2b2b;
      margin-bottom: 34px;
    }
  }

  /* Buttons */

  .action-btn {
    width: 100px;
    height: 20px;
    border-radius: 3px;
    color: #ffffff;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    font-size: 13px;
    letter-spacing: normal;
    text-align: center;
    cursor: pointer;
    margin: 0 15px;
  }

  .action-btn.y-btn-black {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.3px rgba(112, 112, 112, 0.22);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), color-stop(53%, #606060), to(#434343));
    background-image: linear-gradient(to bottom, #222222, #606060 53%, #434343);
  }

  .action-btn.y-btn-blue {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.3px rgba(112, 112, 112, 0.17);
    background-image: linear-gradient(to bottom, #0989cc, #2696d1 53%, #0989cc);
  }

  .action-btn.y-btn-red {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.3px rgba(112, 112, 112, 0.17);
    background-image: linear-gradient(to bottom, #cc0909, #d12626 53%, #cc0909);
  }

  .y-btn-red:hover, .action-btn.y-btn-black:hover, .action-btn.y-btn-blue:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
  }

  .rnd-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: white;
    padding: 5px 0;
    cursor: pointer;
  }

  .rnd-button.black {
    background-image: linear-gradient(to bottom, #222222, #222222 53%, #222222);
  }

  .rnd-button.blue {
    background-image: linear-gradient(to bottom, #0989cc, #2696d1 53%, #0989cc);
  }

  input[type='text'] {
    //border: solid 3.5px rgba(9, 137, 204, 0.53);
  }

  input[type='text']:focus, input[type='number']:focus {
    outline: none;
  }

  .nav-tabs {
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    width: 100px;
    border-bottom: solid 1px #222222;
    position: relative;
    cursor: pointer;
  }

  .nav-tabs::before {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    position: absolute;
    bottom: -5px;
    border-bottom: 1px solid #222222;
  }

  .nav-tabs::after {
    content: "\272A";
    display: block;
    width: 15px;
    height: 15px;
    font-size: 11px;
    position: absolute;
    top: 1px;
    left: -12px;
    color: #0989cc;
  }

  .nav-tabs:hover:hover:before {
    border-bottom: solid 1px #0989cc;
  }

  .nav-tabs.router-link-active {
    border-bottom: solid 1px #0989cc;
  }

}

.settings-panel {
  width: 362px;
  background-color: #ffffff;
  padding: 30px;
  margin-top: 32.5px;

  h6 {
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    color: #aaaeb3;
    margin-bottom: 39px;
  }

  &.full-width {
    width: calc(100% - 45px);
  }
}

[src="@/assets/img/close-circular-button-symbol.svg"] {
  width: 20px;
}

.transparent-bg {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rounded-input {
  width: 346px;
  height: 43px;
  border-radius: 22px;
  border: solid 1px #868686;
  outline: none;
  font-size: 14px;
  font-weight: 300;
  color: #0997b1;
  padding: 0 22px;
  margin-bottom: 14px;

  &.error {
    border-color: #b40000;
  }

  &.required {
    background: no-repeat url(~@/assets/img/required-star.svg) calc(100% - 18px) 18px;
  }
}

.table-list-items {
  width: 70%;
  background-color: white;
  padding: 15px 50px;
  position: relative;
  h4 {
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 2px;
    color: #aaaeb3;
    margin: 15px 0;
  }
  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    .item-actions {
      display: flex;
    }
  }

}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .input-field {
    padding: 7px 17px 7px 22px;
    border-radius: 22px;
    border: solid 1px #868686 !important;
    font-size: 14px;
    color: #0997b1;
  }
}

.category-table {
  .ck-content {
    height: 375px !important;
  }
}
.edit-product-form {
  .ck-content {
    height: 375px !important;
  }
}

.rounded-circle {
  width: 35px;
  height: 35px;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  line-height: 0;
  cursor: pointer;
  &.green-bg-gradient {
    background-image: linear-gradient(250deg, #50b109, #0997b1);
  }
}
