@font-face {
  font-family: 'SFProText';
  src: url('/fonts/vendor/SFProText-Regular.woff2') format('woff2'),
  url('fonts/vendor/SFProText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



